#gridcontainer {
  grid-template-columns: auto;
  grid-auto-rows: auto auto auto auto auto;
  grid-template-areas: "menu"
                       "foto"
                       "bestpics"
                       "carspotten"
                       "footer";
  grid-gap: 50px;
  height: 100%;
}

#menu {
  grid-area: menu;
}

#banner {
  grid-area: foto;
}

#bestPictures {
  grid-area: bestpics;
}

#Carspotter {
  grid-area: carspotten;
}

#footer {
  grid-area: footer;
}
